@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EFFFFB; /* brand-bg */
  color: #272727; /* brand-dark */
  font-family: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}