@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the entire app to be Dark Green */
body {
  background-color: #102216; /* matches 'background' in config */
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}